<template>
<div class="main">
  <div>
      <input class="todoInput" v-model="todo" placeholder="Create Todo">
      <button class="todoButton" @click="CreateTodo">Create</button>
  </div>
  <div>
      <p class="todoContent" v-for="todo in allTodoList" :key="todo.id">
          {{
              todo.content
          }}
      </p>
  </div>
</div>
</template>

<script>
import axios from 'axios'
export default {
  props: {
    newAddedTodo:Object,
  },
  data(){
      return{
          todo:"",
          allTodoList:[],
      }
  },
  watch:{
      newAddedTodo:function(todo){
          this.allTodoList.push({content:todo,id:todo.Id})
      } 
  },
  methods:{
   CreateTodo(){
     if(this.todo !== ""){
           axios.post("http://34.125.127.10:18000/api/v1/todo",{'content':this.todo},{headers: {'Content-Type': 'application/json'}}).then((res)=>{
    this.allTodoList.unshift(res.data)
    this.todo="" 
        } 
      )
     }
}
 
  },
   created(){
     this.allTodoList.push({content:"test",id:"1234q"})
     axios.get(`http://34.125.127.10:18000/api/v1/allTodo`).then((res)=>{
     this.allTodoList=res.data
     }) 
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.main {
  width: 500px;
  height: 500px;
  background: #aebbe8;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  align-items: center;
  justify-self: center;
    text-align: center;
    padding-top: 74px;
    overflow: auto;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
